<h1><%= _('Public information for %s') % @person.name %></h1>

<%= public_attributes(@person) %>

<% if ! @person.proposals.nil? %>
  <h3><%= _('Proposals submitted') %></h3>
  <% table do %>
    <% table_head_row do %>
      <th><%= _'Conference' %></th>
      <th><%= _'Title' %></th>
    <% end %>
    <% @person.proposals.each do |prop| %>
      <% table_row do %>
	<td><%= link_to(prop.conference.name, :controller => 'conferences',
	                :action => 'show', :id => prop.conference) %></td>
        <td><%= link_to(prop.title, :controller => 'proposals', 
	                :action => 'show', :id => prop)%></td>
      <% end %>
    <% end %>
  <% end %>
<% end %>
