<% if @user and @user.has_admin_task? :sys_conf_adm %>
  <div class="comas-for-admin">
    <%= _('You can configure the field names to appear in the public ' +
	  'profile under the %s configuration key') %
	link_to('person_profile_fields', :controller => 'sys_conf_adm',
                :action => 'edit', :key => 'person_profile_fields') %>
  </div>
<% end %>

<h1><%= _('Public information for %s') % @person.name %></h1>

<%= link_to_photo(@person) %>

<%= public_attributes(@person) %>

<% if ! @person.proposals.empty? %>
  <h3><%= _('Proposals submitted') %></h3>
  <% table do %>
    <% table_head_row do %>
      <th><%= _'Conference' %></th>
      <th><%= _'Title' %></th>
    <% end %>
    <% @person.proposals.each do |prop| %>
      <% table_row do %>
	<td><%= link_to(prop.conference.name, :controller => 'conferences',
	                :action => 'show', :id => prop.conference) %></td>
        <td><%= link_to(prop.title, :controller => 'proposals',
	                :action => 'show', :id => prop)%></td>
      <% end %>
    <% end %>
  <% end %>
<% end %>
