<h1><%= _'My proposals' %></h1>

<% if @user.can_submit_proposals_now? %>
  <p><%= link_to(_('Submit a new proposal'), :controller => 'proposals',
                 :action => 'new') %></p>
<% end %>

<% if @props.size == 0 %>
  <p><%= _'You have not sent any proposals yet. ' %></p>
<% else %>
  <p><%= _('Showing the %d proposals you have submitted') % @props.size %></p>
  <% table do %>
    <% table_head_row do %>
      <th><%= _'Title' %></th>
      <th><%= _'Conference' %></th>
      <th><%= _'Proposal type' %></th>
      <th><%= _'Action' %></th>
    <% end %>
  <% @props.each do |prop| %>
    <% table_row do %>
      <td><%= link_to(prop.title, :controller => 'proposals',
	              :action => 'show', :id => prop.id) %></td>
      <td><%= link_to(prop.conference.name, :controller => 'conferences',
	              :action => 'show', :id => prop.conference.id) %></td>
      <td><%= prop.prop_type.name %></td>
      <td>
	<%= link_to(_('Edit'), :controller => 'proposals',
	            :action => 'edit', :id => prop.id) %> |
	<%= link_to(_('Manage authors'), :controller => 'proposals',
	            :action => 'authors', :id => prop.id) %>
      </td>
    <% end %>
  <% end %>
  <% end %>
<% end %>
