<% title = session[:conf_list_include_past] ?
     _('Registered conferences') :  _('Upcoming conferences') %>
<%= link_to_login_or_new if @user.nil? %>
<h1><%= title %></h1>
<%= list_filters %>
<%= pagination_header @conferences %>
<%= will_paginate @conferences %>
<%= conf_list_table @conferences %>
