<h1><%= @conference.name %></h1>
<% if @user %>
  <div class="note">
  <% if @can_edit %>
    <%= link_to(_('%d registered attendees') % @conference.people.size,
	        :controller => 'conferences_adm', 
                :action => 'people_list', :id => @conference) %>
    |
    <%= link_to(_('Edit conference'), :controller => 'conferences_adm',
                 :action => :show, :id => @conference) %> |
    <%= link_to(_('Edit timeslots'),
	        :controller => 'conferences_adm',
                :action => 'timeslots', 
                :id => @conference) %>
  <br/>
  <% end %>

  <%= sign_up_person_for_conf_link(@user, @conference) %>
  </div>
<% end %>

<% if (props=@conference.proposals.size) > 0 %>
  <p><%= link_to(_('%d proposals registered for this conference') %
                 props, :action => 'proposals', :id => @conference) %></p>
<% end %>

<p><%= RedCloth.new(@conference.descr).to_html %></p>

<p><%= @conference.begins %> - <%= @conference.finishes %></p>

<% if @user %>
  <% if @user.conferences_for_submitting.include? @conference %>
    <%= link_to(_('Submit a proposal for this conference'),
	        :controller => 'proposals', :action => 'new',
                :conference_id => @conference) %>
  <% end %>
<% end %>

<% if !@conference.homepage.blank? %>
  <p><%= link_to _('Web site'), @conference.homepage %></p>
<% end %>
