<% if @user %>
  <div class="note">
    <%= conf_edit_links(@conference) %>
    <%= sign_up_person_for_conf_link(@user, @conference) %>
  </div>
<% else %>
  <%= link_to_login_or_new %>
<% end %>
<h1><%= @conference.name %></h1>

<%= display_logo(@conference) %>

<% if (props=@conference.proposals.size) > 0 %>
  <p><%= link_to(_('%d proposals registered for this conference') %
                 props, :action => 'proposals', :id => @conference) %></p>
<% end %>

<%= RedCloth.new(@conference.descr).to_html %>

<%= date_details_for @conference %>

<% if !@conference.homepage.blank? %>
  <p><%= link_to _('Web site'), @conference.homepage %></p>
<% end %>
