<h1><%= _"Manage the coauthors for your proposal" %></h1>

<h3><%= _('Current list of authors for <em>%s</em>') %
	@proposal.title %></h3>

<%= author_list_edition_table(@proposal.authorships) %>

<h3><%= _'Add an author to this proposal' %></h3>
<p><%= _"Please enter the new author's <em>login</em>. The login " +
       "must be an exact match (i.e., performing searches on similar " +
       "logins will not work). A mail will be sent to the new " +
       "author notifying him of this operation." %></p>

<% form_tag url_for(:action => 'author_add_confirm', :id => @proposal) do %>
  <p>
    <%= text_field_tag 'login', '', :size => 30 %>
    <%= submit_tag _'Add author' %>
  </p>
<% end %>
