<h1><%= _('Proposals submitted by author') %></h1>

<h3><%= _('%d proposals have been submitted by %s') % 
	  [@props.size, @author.name] %></h3>

<%= pagination_header @props %>
<%= will_paginate @props %>
<% table do %>
  <% table_head_row do %>
    <th><%= _'Title' %></th>
    <th><%= _'Conference' %></th>
    <th><%= _'Proposal type' %></th>
    <th><%= _'Proposal status' %></th>
  <% end %>
  <% @props.each do |prop| %>
    <% table_row do %>
      <td><%= link_to(prop.title, :controller => 'proposals',
	              :action => 'show', :id => prop)%></td>
      <td><%= link_to(prop.conference.name, :controller => 'conferences',
	              :action => 'show', :id => prop.conference.id) %></td>
      <td><%=h prop.prop_type.name %></td>
      <td><%=h prop.prop_status.name %></td>
    <% end %>
  <% end %>
<% end %>
