<h1><%= _"Attendee administration" %></h1>
<div class="filter">
  <% form_tag do %>
    <%= _'Filter by: (on login, firstname or family name)' %><br/>
    <%= text_field_tag :filter_by, h(@filter_by) %>
    <%= submit_tag _'Filter' %>
  <% end %>
</div>
<p><%= link_to(_('Download this listing'), 
               :sort_by => params[:sort_by], :filter_by => @filter_by,
               :xls_output => true) %></p>
<%= pagination_header(@people) %>
<%= will_paginate @people %>
<% table do %>
  <% table_head_row do %>
    <%= people_list_head %>
  <% end %>
  <% @people.each do |person| %>
  <% table_row do %>
    <%= list_row_for person %>
  <% end %>
  <% end %>
<% end %>
<p><%= link_to _('Register new'), :action => 'new' %></p>
