<h1><%= _"Attendee administration" %></h1>
<div class="filter">
  <% form_tag do %>
    <%= _'Filter by: (on login, firstname or family name)' %><br/>
    <%= text_field_tag :filter_by, h(@filter_by) %>
    <%= submit_tag _'Filter' %>
  <% end %>
</div>
<p><%= link_to(_('Download CSV report for this listing'), 
               :sort_by => params[:sort_by], :filter_by => @filter_by,
               :csv_output => true) %></p>
<%= pagination_header(@people) %>
<%= will_paginate @people %>
<%= start_table %>
  <%= table_head_row %>
  <%= people_list_head %>
  <%= end_table_row %>
  <% @people.each do |person| %>
  <%= table_row %>
  <%= list_row_for person %>
  <%= end_table_row %>
  <% end %>
<%= end_table %>
<p><%= link_to _('Register new'), :action => 'new' %></p>
