<h1><%= _"Attendee administration" %></h1>
<div class="filter">
  <% form_tag do %>
    <p><%= _('Filter by: (on login, firstname or family name)') %><br/>
      <%= text_field_tag :filter_by, h(@filter_by) %></p>
    <p><%= _('Filter by conference') %><br/>
      <%= select_tag(:conference_id, 
                     options_for_select([''] + @conferences.map {|c| 
	                                ["#{c.name} (#{c.begins})", c.id]},
	                                @conf ? @conf.id : nil)
                     ) %></p>
    <%= submit_tag _'Filter' %>
  <% end %>
</div>
<p><%= xls_list_link(@order_by, @filter_by, @conf) %></p>
<%= pagination_header(@people) %>
<%= will_paginate @people %>
<% table do %>
  <% table_head_row do %>
    <%= people_list_head %>
  <% end %>
  <% @people.each do |person| %>
  <% table_row do %>
    <%= list_row_for person %>
  <% end %>
  <% end %>
<% end %>
<p><%= link_to _('Register new'), :action => 'new' %></p>
