<h1><%= _'Massive mailing' %></h1>

<p><%= _'Be aware that massive mailings can be <b>very</b> unpolite ' +
       'for your audience! <b>Use this feature sparingly</b>.' %></p>

<p><%= _('There are %d people who have accepted to receive general ' +
         'mails about our conferences. ') % @recipients.size %></p>

<p><%= _('You can also export the list of attendees interested in ' +
       'receiving further information and perform the mailing from a ' +
       'separate application: %s, %s.') % [
         link_to(_('Full listing (including names)'),
                 :action => 'mailable_list', :mode => 'full'),
         link_to(_('Mail addresses only'),
                 :action => 'mailable_list', :mode => 'short')] %></p>

<% form_tag do |f| %>
  <%= form_row _('Title'), text_field_tag(:title, '', :size => 60) %>
  <%= form_row _('Mail body'),
               text_area_tag(:body, '', :size => '60x10'),
               _('Please enter the body for the mass-mailing you ' +
		 'will send. General information regarding this site ' +
		 'will be automatically added.') %>
  <%= form_row '', submit_tag(_'Send mail') %>
<% end %>
