<h1><%= _('Editing certificate format <em>%s</em>') % @format.name %></h1>

<h3><%= _('General format information') %></h3>

<%= link_to_function(_('Help'), 
                     visual_effect(:toggle_blind, "comas-help")) %>
<div id="comas-help" style="display:none">
  <p>
   <%= _("All measurments except for font size are expressed in " +
         "<em>%s</em>. You will notice the values you enter are " +
         "approximated (i.e. 10.99 instead of 11), as they are " +
         "stored internally in %s and converted only to be shown " +
         "here.") % [_(@units), 
                     _(PdfDimensions::ValidUnits[:pt][:full]) ] 
        %>
  </p>

  <p>
   <%= _("This format's lines are sorted according to their vertical " +
	 "position, to better match what you will see on the paper. " +
         "Measurement (0, 0) starts at the lower-left corner, and the " +
         "indicated point marks the lower-left corner of the designated " +
         "text area.") %>
  </p>

  <p>
   <%= _("This means, if you want to provide a <em>centered</em> 15cm "+
         "field in <em>Landscape Letter</em> (27.94cm wide) paper, " +
         "you should set the <em>horizontal</em> position to 6.47 " +
         "(which is (27.94 - 15) / 2) and the <em>maximum width</em> " +
         "to 15.") %>
  </p> 

  <p>
   <%= _("Regarding <em>content source</em> and <em>content</em>: When  " +
	 "the content source is set to <em>Static</em>, the text " +
         "provided as content will be present verbatim in the " +
         "certificate; when <em>Person</em> or <em>Conference</em> " +
         "are selected, they will accept a suitable <em>attribute " +
         "name</em>. If when generating certificates you get a system " +
         "error (<tt>Undefined attribute</tt>), you should check for " +
         "the validity of your <em>content</em> columns." ) %>
  </p>
</div>

<%= render :partial => 'certif_format_details', 
           :locals => {:formats => [], 
                       :edit_fmt => @format, 
                       :action => 'certif_format',
                       :label => _('Modify')} %>

<% table do %>
  <%= certif_format_line_header %>
  <%= @format.certif_format_lines.map { |l| certif_format_line_entry(l) } %>

  <% table_row do %>
    <% form_for :certif_format_line, @new_line, 
                :url => {:action => 'add_certif_format_line', 
                         :format_id => @format} do |f| %>
      <td><%= f.text_field :human_y_pos, :size => 3%></td>
      <td><%= f.text_field :human_x_pos, :size => 3 %></td>
      <td><%= f.text_field :human_max_width, :size => 3 %></td>
      <td><%= f.select :content_source, 
                 CertifFormatLine::ContentSources.map {|k,v| [v,k]} %></td>
      <td><%= f.text_field :content, :size => 20 %></td>
      <td><%= f.text_field :font_size, :size => 2 %></td>
      <td><%= f.select :justification, CertifFormatLine::Justifications %></td>
      <td><%= f.submit _('Add line') %></td>
    <% end %>
  <% end %>

<% end %>

<%= render :partial => 'certif_format_test_form', 
           :locals => {:format => @format} %>
