<h1><%= _'Choose a session to take attendance for' %></h1>

<% if @shown == :all %>
<h3><%=_('%d total registered timeslots') %  @tslots.total_entries %></h3>
<p><%= link_to _("Show only current timeslots"),
               :show_all => false %></p>
<% else %>
<h3><%=_('%d currently active timeslots') % @tslots.total_entries %></h3>
<p><%= link_to _("Show all registered timeslots"),
               :show_all => true %></p>
<% end %>

<div class="timeslot-list">
  <%= pagination_header @tslots %>
  <%= will_paginate @tslots %>
  <%= tslot_table(@tslots) %>
</div>
