<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
  <% if defined? Locale %>
    xml:lang="<%= Locale.get %>" lang="<%= Locale.get %>"
  <% end %> >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%  headers["Content-Type"] = "text/html; charset=utf-8" %>
<%= stylesheet_link_tag('comas.css',
			'calendar.css') %>

<title><%= @title %></title>
<%= javascript_include_tag 'calendar' %>
</head>
<body>
  <div id="header"><%= @title %></div>
  <div id="menu"><%= @menu %></div>
  <div id="main">
    <%= login_data %>
    <%= show_flash %>
    <div id="contents"><%= yield %></div>
  </div>
<div id="footer"><%= @footer %></div>
</body>
</html>

