<h1><%= _('Editing configuration entry <em>%s</em>') % @conf.key %></h1>
<p><%= _'<b>Caution</b>: Modifying this configuration entry might render ' +
       'your system inoperable. Proceed at your own risk, and only if you ' +
       'know what you are doing.'  %></p>
<% comas_form_for :sys_conf, @conf,
                  :url => {:action => :update, :key => @conf.key} do |f| %>
  <%= f.text_field :descr %>
  <%= f.text_area :value, :rows => 3, :cols => 60 %>
  <%= f.submit _'Save changes' %>
<% end %>
