<h1><%= _'Catalogs management' %></h1>

<h3><%= _'The following catalogs are defined in your system' %></h3>

<% table do %>
  <% table_head_row do %>
    <th><%= _'Name' %></th>
    <th><%= _'Records' %></th>
  <% end %>
  <% @catalogs.each do |cat| %>
    <% table_row do %>
      <td><%= link_to(cat.table_name, :action => 'show_catalog',
                      :catalog => cat.table_name) %></td>
      <td><%= cat.count %></td>
    <% end %>
  <% end %>
<% end %>
