<h1><%= _'Configuration entries' %></h1>
<p><%= _'<b>Caution</b>: Modifying the configuration entries shown ' +
       'here might render your system inoperable. Proceed at ' +
       'your own risk, and only if you know what you are doing.'  %></p>

<% table do %>
  <% table_head_row do %>
    <th><%= _('Key') %></th>
    <th><%= _('Description') %></th>
    <th><%= _('Value') %></th>
  <% end %>
<% @confs.each do |conf| %>
  <% table_row do %>
    <td><%=h conf.key %></td>
    <td><%=h conf.descr %></td>
    <td><%=h conf.value %></td>
    <td><%= link_to _('Edit'), :action => :edit, :id => conf %>
      <%= link_to(_('Delete'), {:action => :delete, :id => conf},
                  {:method => :post, 
                   :confirm => _('Are you sure you want to delete ' +
                                 'this configuration entry?')}) %></td>
  <% end %>
<% end %>
  <% table_row do %>
  <% form_for :sys_conf, @new_conf, 
               :url => {:action => :create} do |f|%>
    <td><%= f.text_field :key, :size => 10 %></td>
    <td><%= f.text_field :descr, :size => 20 %></td>
    <td><%= f.text_field :value, :size => 10 %></td>
    <td><%= f.submit _'Create' %> </td>
  <% end %>
  </tr>
<% end %>
