<h1><%= _'Nametag printing formats' %></h1>
<p>
  <%= _('The following formats are used by the nametag printing helper ' +
        'program (<tt>./script/nametags</tt>). This script can be used ' +
        'with any label printer which implements the %s language') %
        link_to(_('Zebra EPL2'), 'http://www.zebra.com') %>
</p>
<p>
  <%= _('Disregard this section if your conferences do not require ' +
        'printing nametags, or if you don\'t own a suitable printer.') %>
</p>
<% table do %>
  <% table_head_row do %>
    <th><%= _'Name' %></th>
    <th><%= _'Size (pt)' %></th>
    <th><%= _'Size (cm)' %></th>
    <th><%= _'Size (in)' %></th>
    <th></th>
  <% end %>
  <% @formats.each do |format| %>
    <% table_row do %>
      <td><%= format.name %></td>
      <td><%= format.size(:pt) %></td>
      <td><%= format.size(:cm) %></td>
      <td><%= format.size(:in) %></td>
      <td>
	<%= if format.first?
              icon_space
            else
              link_to icon_up, :action => :nametag_format_up, :id => format
            end %>
	<%= if format.last?
              icon_space
            else
              link_to icon_down, :action => :nametag_format_down, :id => format
            end %>
        <%= link_to _('Edit'),
                       :action => :nametag_format_edit, :id => format %>
        <%= link_to icon_trash,
                    {:action => :nametag_format_delete, :id => format},
                    {:method => :post,
                     :confirm => _('Are you sure you want to delete ' +
                                   'this format?')}
        %></td>
    <% end %>
  <% end %>
<% end %>

<%= link_to _('Create a new format'), :action => 'nametag_format_new' %>
