<h1><%= _('Showing records for the <em>%s</em> catalog') % @cat_name %></h1>

<%= pagination_header @data %>
<%= will_paginate @data %>
<% table do %>
  <% table_head_row do %>
    <th><%= _'ID' %></th>
    <th><%= _'Name' %></th>
    <th></th>
  <% end %>
  <% @data.each do |row| %>
    <% table_row do %>
      <td><%= row.id %></td>
      <td><%=h row.name %></td>
      <td><%= link_to(_('Delete'),
		      { :action => 'delete_catalog_row',
			:catalog => @cat_name,
			:id => row.id },
		      {:method => 'post'}) %>
    <% end %>
  <% end %>
<% end %>

<h3><%= _('Add a new record') %></h3>
<% form_for @blank, :url => {:action => 'add_catalog_row',
                             :catalog => @cat_name} do |f| %>
  <%= _'Name' %>: <%= f.text_field :name %><br/>
  <%= f.submit _'Create' %>
<% end %>
<p><%= link_to _('Go back to the catalogs listing'),
               :action => 'list_catalogs' %>
