<% table do %>
  <% table_head_row do %>
    <th><%= _('ID') %></th>
    <th><%= _('Name') %></th>
    <th><%= _('Paper size') %></th>
    <th><%= _('Orientation') %></th>
    <th></th>
  <% end %>
  <% formats.each do |format| %>
    <% table_row do %>
      <td><%= link_to format.id, :action => 'show',
                      :id => format.id %></td>
      <td><%= link_to format.name, :action => 'show',
                      :id => format.id %></td>
      <td><%= human_paper_size(format.paper_size) %></td>
      <td><%= format.orientation %></td>
      <td><%= link_to icon_trash,
                      { :action => 'delete',
                        :id => format.id},
                      { :confirm => _('Are you sure you want to delete ' +
				      'this format?')} %></td>
    <% end %>
  <% end %>
  <% form_for :certif_format, edit_fmt,
              :url => {:action => action, :id => edit_fmt } do |f| %>
    <% table_row do %>
      <td><%= edit_fmt.id %></td>
      <td><%= f.text_field :name, :size => 15 %></td>
      <td><%= paper_size_select f, :paper_size %></td>
      <td><%= orientation_select f, :orientation %></td>
      <td><%= f.submit label %></td>
    <% end %>
  <% end %>
<% end %>
